In [40]:
# import essential libraries 
import pandas as pd
import os

In [41]:
# read in data
path = os.path.join(os.path.normpath(os.getcwd() + os.sep + os.pardir) + "/data")

print(os.listdir(path))

reviews = pd.read_csv(path + '/cleaned/word_vectors.csv')

['cleaned', 'raw', 'test']

In [42]:
tot_pos = reviews["POSITIVE"].sum()
tot_neg = reviews["NEGATIVE"].sum()

print(tot_pos/tot_neg)

# adjust for unbalance in data and weight based on strength of data 
reviews["POSITIVE"] += 1
reviews["NEGATIVE"] = reviews["NEGATIVE"] * tot_pos/tot_neg + 1

6.626619269856501

In [43]:
# Calculate Bayes Probability Scores, adjusted for unbalance in data, deweighted based on strength
reviews["POS_BAYES"] = reviews["POSITIVE"]/(reviews["POSITIVE"] + reviews["NEGATIVE"])
reviews["NEG_BAYES"] = reviews["NEGATIVE"]/(reviews["POSITIVE"] + reviews["NEGATIVE"])

In [44]:
reviews

           Unnamed: 0  POSITIVE    NEGATIVE  POS_BAYES  NEG_BAYES
0                  la       234  133.532385   0.636679   0.363321
1        confidential        45   14.253239   0.759452   0.240548
2                   ‘        28   14.253239   0.662671   0.337329
3      representation        47   40.759716   0.535553   0.464447
4            longgone         3    1.000000   0.750000   0.250000
...               ...       ...         ...        ...        ...
40472     classaction         1    7.626619   0.115920   0.884080
40473   fantasyaction         1    7.626619   0.115920   0.884080
40474        ringside         1    7.626619   0.115920   0.884080
40475        gurgling         1    7.626619   0.115920   0.884080
40476     schoollevel         1    7.626619   0.115920   0.884080

[40477 rows x 5 columns]

In [45]:
reviews = reviews.set_index('Unnamed: 0')
reviews = reviews[["POS_BAYES", 'NEG_BAYES']]

reviews

#reviews.to_csv(path + '/cleaned/naivebayes.csv', header=True, index=True)

                POS_BAYES  NEG_BAYES
Unnamed: 0
la               0.636679   0.363321
confidential     0.759452   0.240548
‘                0.662671   0.337329
representation   0.535553   0.464447
longgone         0.750000   0.250000
...                   ...        ...
classaction      0.115920   0.884080
fantasyaction    0.115920   0.884080
ringside         0.115920   0.884080
gurgling         0.115920   0.884080
schoollevel      0.115920   0.884080

[40477 rows x 2 columns]